extends ../layout

block css
    link(rel="stylesheet", href="assets/js/plugins/select2/css/select2.min.css")
    link(rel="stylesheet", href="assets/js/plugins/datatables/dataTables.bootstrap4.css")

block content
    .content.content-full
        .py-50
            .position-relative
                span.text-back #{title}
                .row
                    .col-6
                        nav.breadcrumb.push
                            a.breadcrumb-item(href='/') Dashboard
                            span.breadcrumb-item.active #{title}
                h4.font-w300.mt-50 #{title}
                    small  Overview
                .row
                    .col-8
                        .block.block-rounded
                            .block-content.block-content-full
                                i.si.si-game-controller.fa-2x.text-body-bg-dark
                                .row.py-20.text-center
                                    .col-6.border-r
                                        .font-size-h3.font-w600 24
                                        .font-size-sm.font-w600.text-uppercase.text-muted Invoices
                                    .col-6
                                        .font-size-h3.font-w600 24
                                        .font-size-sm.font-w600.text-uppercase.text-muted Receipts
                    .col-2
                        a.block.block-rounded.block-bordered.block-link-pop.text-center(href="mails/in")
                            .block-content
                                p.font-size-h1.mb-0.mt-30
                                    i.si.si-globe.text-primary 
                                p.font-w600.mb-30.mt-5.text-primary Surat Masuk
                    .col-2
                        a.block.block-rounded.block-bordered.block-link-pop.text-center(href="mails/out")
                            .block-content
                                p.font-size-h1.mb-0.mt-30
                                    i.si.si-globe.text-primary 
                                p.font-w600.mb-30.mt-5.text-primary Surat Keluar
                .block.mt-50
                    .block-header.block-header-default
                        h3.block-title(id="invoices") This Week
                        .block-options
                            button.btn-block-option.mr-20(data-toggle="block-option" data-action="fullscreen_toggle")
                            a.btn.btn-primary.btn-noborder.btn-hero(data-toggle="modal" data-target="#mdl_billing-tambah" href="javascript:void(0)") Tambah Surat
                    .block-content.block-content-full
                        
block modal
    .modal.fade(id="mdl_billing-tambah" tabindex="-1" role="dialog")
        .modal-dialog.modal-sm.modal-dialog-centerd.modal-dialog-popout(role="document")
            .modal-content.rounded
                .block.block-rounded.block-transparent
                    .block-content.py-50.px-30
                        h4.font-w700.text-center.mb-0.mt-lg-30 Tambah Surat 
                        p.text-muted.text-center.font-w400 Lengkapi isian berikut
                        form.js-validation-(action="/billings" method="POST")
                            .form-group.mt-20
                                select.js-select2.form-control(style="width:100%" id="select-type" name="typebill" data-placeholder="Mail Types")
                                    option
                                        option(value="1") Internal  
                                        option(value="1") External 
                                        option(value="1") Penawaran 
                                        option(value="2") Tugas
                            button.btn.btn-primary.btn-noborder.btn-hero.w-100.mt-20(type="submit") Buat Surat

block helpers
    script(src="assets/js/plugins/select2/js/select2.full.min.js")
    script(src="assets/js/plugins/datatables/jquery.dataTables.min.js")
    script(src="assets/js/plugins/datatables/dataTables.bootstrap4.min.js")

    script(src="assets/js/pages/be_tables_datatables.min.js")
    script.
        jQuery(function(){ Codebase.helpers(['select2']); })

