extends layout

block content
  .bg-body-light
    .content.content-full
      .pt-100.pb-50
        .position-relative
          span.text-back DASHBOARD
          h2.font-w700.text-center.mb-10 Selamat Pagi, 
            span.text-primary Rozak
          h4.font-w400.text-muted.text-center.mb-50 Ingin melakukan apa hari ini?
