doctype html
html(lang='en').no-focus
  include common/head.pug
  +head(title)
  
  body
    div(id="page-container").page-header-fixed.main-content-boxed
      include common/navbar.pug
      +navbar()
    main(id="main-container")
      block content

  include common/footer.pug
  +footer()
