doctype html
html(lang='en').no-focus
    head
        title= title
        block css
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700')
        link(rel='stylesheet', href='../assets/css/codebase.css')
    
    body
        div(id="page-container").main-content-boxed
            main(id="main-container").d-flex.justify-content-center
                .col-6
                    .row
                        .col-3(style="background-color:#1578b5")
                            | Azura
                        .col-9.bg-light
                            | Azzuraa
     
        script(src='../assets/js/codebase.core.min.js')
        script(src='../assets/js/codebase.app.min.js')

