mixin head(title)
    head
    title= title
    block css
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700')
    link(rel='stylesheet', href='../assets/css/codebase.css')
    