mixin navbar(user)
    header(id='page-header')
        .content-header
            .content-header-section
                .content-header-item
                    a(href='/').link-effect.font-w700.mr-5
                        span.font-size-h4.text-primary Azura
                        span.font-size-h4.text-dual-primary-dark Arsip
            
            .content-header-section.d-none.d-lg-block
                ul.nav
                    li.nav-item.mr-xl-2
                        li.nav-item.mr-xl-2.border-r
                            a.nav-link.font-w600(href="/settings/profile")
                                i.font-w600 
                                | #{user.name}
                        - rCore = user.Role.routing.split(',').includes('6')
                        if rCore == true
                            li.nav-item.mr-xl-2
                                a.nav-link.font-w600(href="/settings/core")
                                    i.font-w600 
                                    | Pengaturan
                    if user
                        li.nav-item.mr-xl-2
                            a.nav-link.font-w600(href="/logout")
                                i.font-w600 
                                | Keluar
